<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <appSettings>
    <add key="selectedStorageAppConfig" value="HRHelperToolExcelEngine.ExcelToolEngine,HRHelperToolExcelEngine"/>
    <add key="selectedStorageSQL" value="HRHelperToolSQLDataAccessEngine.SQLDataAccessToolEngine,HRHelperToolSQLDataAccessEngine"/>
    <add key="ImagePath" value="D:/final hr tool/HRUserInterface/Images/"/>
    <add key="defaultUpload" value="D:/final hr tool/HRUserInterface/Images"/>
    <add key="TemplatePath" value="D:/final hr tool/HRUserInterface/templates/"/>
    <add key="ErrorLogPath" value="D:/final hr tool/HRUserInterface/Error log files/"/>
    <add key="mailServerName" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="fromEmailID" value="apandit@tavisca.com"/>
    <add key ="password" value="ilovevintagegrape"/>
    <add key="CCList" value="apandit@tavisca.com,sprajapati@tavisca.com"/>
    <add key="holydayList" value="02/10,21/10,23/10,24/10,25/12"/>
    <add key="mailToAll" value="apandit@tavisca.com"/>
  </appSettings>
  <connectionStrings>
    <add name="oledbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:/final hr tool/HRUserInterface/employeeRecord.xls;Extended Properties=Excel 8.0"/>
    <add name="sqlConnectionString" connectionString="data source=LAPPY1; initial catalog=HRHelperToolDatabase;integrated security=true;"/> 
  </connectionStrings>

</configuration>