<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <font face="Comic Sans MS"  size="6" align=center>Dear {0},</font>
                                <table width="100%">
                                <tr>
                                    <td style="font-style:arial; color:maroon; font-weight:bold;" align=center>
                                  
                                    <img src=cid:myImageID   style="height:250px;width:250px;">
                                    </td>
                                </tr>
                                <tr>
                                <td>        
                                   <font face="Comic Sans MS"  size="6">Many Many Happy Returns Of the Day!</font>
                                   
                                </td>
                                </tr>
                                </table>

</body>
</html>