<html><head></head>
<body>
	<div style="background-image:url(cid:myBodyId);height:700px;width:950px;">
		<table style="border:1px;height:110px;width:950px">
			<tbody><tr>
				<td style="width:311px;"></td>
					<td></td>
						<td style="width:311px;"></td>

			</tr>
			<tr>
				<td style="width:350px;"></td>
				<td style="width:300px;"> <font face="Comic Sans MS"  size="5" align=center color=maroon><b> Dear {0},</b></font>

				</td>
				<td style="width:311px;"></td>
			</tr>
			<tr>
			</tr>
		</tbody></table>
	<div style="height:60px;width:950px;"></div>
		<table style="Position:absolute;top:180;width:950px;height:150px">
			<tr>
				<td style="width:404px;"></td>
				<td>
		<img src=cid:myImageID style="position:center;height:150px;width:130px;">
		
	</td>
	</tr>
	</table>
		<div style="height:30px;width:950px;"></div>

	<table style="Position:absolute;top:370;width:950px;height:40px">
		<tr>
			<td style="width:455px;"></td>
			<td>
		<font style="height:50px;width:20px;color:maroon" size="7";>
			<b>5</b>

		
			</font>
		</td>
			</tr>
			</table>
		
	</div>


</body></html>