<html><head></head>
<body>
	<div style="background-image: url(cid:myBodyId) ;background-repeat:no-repeat;height:528px;width:500px;">
		<table style="height:35px;">
			<tbody>	
<tr>
<td style="width:260px">
</td>

		<td style="width:260px;"> <font face="Comic Sans MS"  size="5" color=maroon><center><b> Dear {0},</b></center></font>
</td>
			</tr>
		</tbody></table><div style="height:22px;width:950px;"></div>
		<table style="position:absolute;top:60px;">
			<tr>
				<td style="width:215px;"></td>
				<td>
		<img src=cid:myImageID style="position:center;height:150px;width:130px;">
		
	</td>
	</tr>
	</table>
	


</body></html>